@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./themes.css";

/* Global variables */
:root {
  /* Colors */
  --accent-overlay: hsla(280, 89%, 67%, 0);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-999);

  --link-color: var(--primary-regular);

  /* Gradients */
  --gradient-stop-1: var(--primary-dark);
  --gradient-stop-2: var(--primary-regular);
  --gradient-stop-3: var(--secondary-dark);

  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 150%
  );
  --gradient-accent: linear-gradient(
    150deg,
    var(--gradient-stop-1),
    var(--gradient-stop-2),
    var(--gradient-stop-3)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

  /* Shadows */
  --shadow-sm:
    0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
    0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md:
    0px 16px 8px rgba(9, 11, 17, 0.01), 0px 10px 6px rgba(9, 11, 17, 0.02),
    0px 5px 5px rgba(9, 11, 17, 0.03), 0px 2px 3px rgba(9, 11, 17, 0.045);

  --shadow-lg:
    0px 28px 14px rgba(9, 11, 17, 0.01), 0px 18px 12px rgba(9, 11, 17, 0.03),
    0px 10px 10px rgba(9, 11, 17, 0.05), 0px 3px 6px rgba(9, 11, 17, 0.065);

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Fonts */
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Public Sans", var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;

  --neon-primary:
    0 0 2px var(--primary-dark), 0 0 4px var(--primary-regular),
    0 0 10px var(--primary-light);
  --neon-secondary:
    0 0 2px var(--secondary-dark), 0 0 4px var(--secondary-regular),
    0 0 10px var(--secondary-light);
}

@media not print {
  :root.theme-dark {
    --accent-overlay: hsla(280, 89%, 67%, 0);
    --accent-subtle-overlay: hsla(281, 81%, 36%, 0);
    --accent-text-over: var(--gray-0);

    --link-color: var(--primary-dark);

    --gradient-stop-1: var(--primary-light);
    --gradient-stop-2: var(--primary-regular);
    --gradient-stop-3: var(--secondary-light);

    --gradient-subtle: linear-gradient(
      150deg,
      var(--gray-900) 19%,
      var(--gray-999) 81%
    );
    --gradient-stroke: linear-gradient(
      180deg,
      var(--gray-600),
      var(--gray-800)
    );

    --shadow-sm:
      0px 6px 3px rgba(255, 255, 255, 0.01),
      0px 4px 2px rgba(255, 255, 255, 0.01),
      0px 2px 2px rgba(255, 255, 255, 0.02),
      0px 0px 1px rgba(255, 255, 255, 0.03);
    --shadow-md:
      0px 16px 8px rgba(255, 255, 255, 0.01),
      0px 10px 6px rgba(255, 255, 255, 0.02),
      0px 5px 5px rgba(255, 255, 255, 0.035),
      0px 2px 3px rgba(255, 255, 255, 0.045);

    --shadow-lg:
      0px 28px 14px rgba(255, 255, 255, 0.01),
      0px 18px 12px rgba(255, 255, 255, 0.035),
      0px 10px 10px rgba(255, 255, 255, 0.06),
      0px 3px 6px rgba(255, 255, 255, 0.08);

    --neon-primary:
      0 0 2px var(--primary-light), 0 0 4px var(--primary-regular),
      0 0 10px var(--primary-dark);
    --neon-secondary:
      0 0 2px var(--secondary-light), 0 0 4px var(--secondary-regular),
      0 0 10px var(--secondary-dark);
  }
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--gray-200);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

@view-transition {
  navigation: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: 1px solid underline transparent;
  text-underline-offset: 0.25em;
  transition: text-decoration-color var(--theme-transition);
  color: var(--gray-400);
}

a:hover,
a:focus {
  color: var(--link-color);
}

a:hover svg,
a:focus svg {
  stroke: var(--link-color);
  fill: var(--link-color);
}

button:hover,
button:focus {
  color: var(--link-color);
}

button:hover svg,
button:focus svg {
  stroke: var(--link-color);
  fill: var(--link-color);
}

.heading-link {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.heading-link-symbol {
  opacity: 0;
  margin-left: 0.2em;
  transition: opacity 0.2s;
}

.heading-link:hover .heading-link-symbol {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: var(--font-brand);
  font-weight: 600;
  color: var(--gray-100);
}

[aria-roledescription="sequence"],
.sequence,
.erDiagram,
.flowchart {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  margin: auto;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 83rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}

@utility prose {
  code {
    &::before,
    &::after {
      content: none;
    }
    text-wrap: nowrap;
  }
  blockquote {
    font-weight: 400;
  }
}

@custom-variant dark (&:where(.theme-dark, .theme-dark *));

@layer utilities {
  .prose {
    overflow-x: auto;
    width: 100%;
  }
  .prose :where(table th[align="center"], table td[align="center"]) {
    text-align: center;
  }
  .prose :where(table th[align="right"], table td[align="right"]) {
    text-align: right;
  }
  .prose :where(table th[align="left"], table td[align="left"]) {
    text-align: left;
  }
  .prose table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.9em;
    border-radius: 8px;
    overflow: hidden;
    border-top: 1px solid var(--gray-800);
    border-left: 1px solid var(--gray-800);
    border-right: 1px solid var(--gray-800);
    border-bottom: 3px solid rgb(from var(--primary-light) r g b / 25%);
    max-width: 100%;
    width: auto;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    transition: ease 0.3s;
  }
  .prose table:hover {
    box-shadow: var(--shadow-md);
  }

  .prose thead tr {
    background-color: rgb(from var(--primary-light) r g b / 25%);
    color: var(--background);
  }

  .prose th,
  .prose td {
    border-top: none;
    padding: calc(2 * var(--spacing));
    text-align: left;
    word-wrap: break-word;
  }

  .prose thead tr th:first-child {
    border-top-left-radius: 8px;
  }
  .prose thead tr th:last-child {
    border-top-right-radius: 8px;
  }

  .prose tbody tr,
  .prose tbody td {
    border-bottom: 1px solid var(--gray-800);
  }

  .prose tbody tr:nth-of-type(even) {
    background-color: var(--gray-950);
  }

  .prose tbody tr:last-of-type {
    border-bottom: none;
  }

  .prose tbody tr.active-row {
    font-weight: bold;
    color: rgb(from var(--primary-light) r g b / 25%);
  }
  @media (max-width: 768px) {
    .prose table {
      font-size: 0.8em;
    }
  }

  .prose code {
    text-wrap: wrap;
  }
}

@media print {
  .prose {
    overflow: visible !important;
    width: 100%;
  }
  .prose table {
    page-break-inside: auto;
    table-layout: auto;
    font-size: 0.9em;
  }
  .prose th,
  .prose td {
    word-wrap: break-word;
    overflow: visible;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media not print {
  .only-print,
  .only-print * {
    display: none !important;
  }
}

@layer base {
  h1 {
    font-size: 2.5rem; /* 48px */
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  h2 {
    font-size: 1.875rem; /* 30px */
    line-height: 1.3333333;
    margin-top: 0.8666667em;
    margin-bottom: 1em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5rem; /* 24px */
    line-height: 1.3333333;
    margin-top: 0.6666667em;
    margin-bottom: 0.6666667em;
    font-weight: 700;
  }

  h4 {
    font-size: 1.25rem; /* 20px */
    line-height: 1.4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: 700;
  }

  h5 {
    font-size: 1.125rem; /* 18px */
    line-height: 1.5;
    margin-top: 0.3333333em;
    margin-bottom: 0.3333333em;
    font-weight: 600;
  }

  h6 {
    font-size: 1rem; /* 16px */
    line-height: 1.5;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: 600;
  }
}

@page {
  size: A4 portrait;
}

.ln {
  color: #aaa !important;
  opacity: 1 !important;
}

:root {
  --theme-transition-duration: 0.2s;
  --theme-transition-easing: ease;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --theme-transition-duration: 0s;
  }
}

html.theme-transition * {
  transition-property:
    background-color, color, border-color, box-shadow, stroke, fill,
    text-decoration, outline, text-decoration-color, font-color,
    text-decoration-style;
  transition-duration: var(--theme-transition-duration);
  transition-timing-function: var(--theme-transition-easing);
  transition-delay: 0s;
}
