@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "./themes.css";

/* Global variables */
:root {
  /* Colors */
  --accent-overlay: hsla(280, 89%, 67%, 0);
  --accent-subtle-overlay: var(--accent-overlay);
  --accent-text-over: var(--gray-999);

  --link-color: var(--primary-regular);

  /* Gradients */
  --gradient-stop-1: var(--primary-dark);
  --gradient-stop-2: var(--primary-regular);
  --gradient-stop-3: var(--secondary-dark);

  --gradient-subtle: linear-gradient(
    150deg,
    var(--gray-900) 19%,
    var(--gray-999) 150%
  );
  --gradient-accent: linear-gradient(
    150deg,
    var(--gradient-stop-1),
    var(--gradient-stop-2),
    var(--gradient-stop-3)
  );
  --gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));

  /* Shadows */
  --shadow-sm:
    0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
    0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
  --shadow-md:
    0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
    0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
  --shadow-lg:
    0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
    0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Fonts */
  --font-system:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "Public Sans", var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;
}

@media not print {
  :root.theme-dark {
    --accent-overlay: hsla(280, 89%, 67%, 0);
    --accent-subtle-overlay: hsla(281, 81%, 36%, 0);
    --accent-text-over: var(--gray-0);

    --link-color: var(--primary-dark);

    --gradient-stop-1: var(--primary-light);
    --gradient-stop-2: var(--primary-regular);
    --gradient-stop-3: var(--secondary-light);

    --gradient-subtle: linear-gradient(
      150deg,
      var(--gray-900) 19%,
      var(--gray-999) 81%
    );
    --gradient-stroke: linear-gradient(
      180deg,
      var(--gray-600),
      var(--gray-800)
    );

    --shadow-sm:
      0px 6px 3px rgba(255, 255, 255, 0.01),
      0px 4px 2px rgba(255, 255, 255, 0.01),
      0px 2px 2px rgba(255, 255, 255, 0.02),
      0px 0px 1px rgba(255, 255, 255, 0.03);
    --shadow-md:
      /* 0px 28px 11px rgba(255, 255, 255, 0.01),
      0px 16px 10px rgba(255, 255, 255, 0.03),
      0px 7px 7px rgba(255, 255, 255, 0.05), */ 0px
      2px 4px rgba(255, 255, 255, 0.06);
    --shadow-lg:
      0px 62px 25px rgba(255, 255, 255, 0.01),
      0px 35px 21px rgba(255, 255, 255, 0.05),
      0px 16px 16px rgba(255, 255, 255, 0.1),
      0px 4px 9px rgba(255, 255, 255, 0.12);
  }
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--gray-200);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

@view-transition {
  navigation: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: 1px solid underline transparent;
  text-underline-offset: 0.25em;
  transition: text-decoration-color var(--theme-transition);
  color: var(--gray-400);
}

a:hover,
a:focus {
  color: var(--link-color);
}

a:hover svg,
a:focus svg {
  stroke: var(--link-color);
  fill: var(--link-color);
}

button:hover,
button:focus {
  color: var(--link-color);
}

button:hover svg,
button:focus svg {
  stroke: var(--link-color);
  fill: var(--link-color);
}

.heading-link {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.heading-link-symbol {
  opacity: 0;
  margin-left: 0.2em;
  transition: opacity 0.2s;
}

.heading-link:hover .heading-link-symbol {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-family: var(--font-brand);
  font-weight: 600;
  color: var(--gray-100);
}

.flowchart {
  background-color: #ffffff;
  border-radius: 10px;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  width: 100%;
  max-width: 83rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}

@utility prose {
  code {
    &::before,
    &::after {
      content: none;
    }
    text-wrap: nowrap;
  }
  blockquote {
    font-weight: 400;
  }
}

@custom-variant dark (&:where(.theme-dark, .theme-dark *));

@layer utilities {
  .prose :where(table th[align="center"], table td[align="center"]) {
    text-align: center;
  }
  .prose :where(table th[align="right"], table td[align="right"]) {
    text-align: right;
  }
  .prose :where(table th[align="left"], table td[align="left"]) {
    text-align: left;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

@media not print {
  .only-print,
  .only-print * {
    display: none !important;
  }
}

h1:not(.prose h1),
h2:not(.prose h2),
h3:not(.prose h3),
h4:not(.prose h4),
h5:not(.prose h5) {
  line-height: 1.1;
  font-family: var(--font-brand);
  font-weight: 600;
  color: var(--gray-100);
}

h1:not(.prose h1) {
  font-size: var(--text-3xl);
}

h2:not(.prose h2) {
  font-size: var(--text-2xl);
}

h3:not(.prose h3) {
  font-size: var(--text-xl);
}

h4:not(.prose h4) {
  font-size: var(--text-lg);
}

h5:not(.prose h5) {
  font-size: var(--text-md);
}

@page {
  size: A4 portrait;
}

.ln {
  color: #aaa !important;
  opacity: 1 !important;
}

:root {
  --theme-transition-duration: 0.2s;
  --theme-transition-easing: ease;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --theme-transition-duration: 0s;
  }
}

html.theme-transition * {
  transition-property:
    background-color, color, border-color, box-shadow, stroke, fill;
  transition-duration: var(--theme-transition-duration);
  transition-timing-function: var(--theme-transition-easing);
  transition-delay: 0s;
}
