---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;
---

<div {...props}>
  <h1 id="about" class="pb-2">About</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec dui non
    neque lobortis scelerisque. Aliquam lectus ex, interdum quis tellus ut,
    consequat fermentum lacus. Proin laoreet sodales turpis, rhoncus facilisis
    nulla finibus sed. Sed non lorem gravida, porttitor lectus et, vulputate
    justo. Fusce interdum neque justo, non finibus libero ornare ac. Ut id porta
    dui. Praesent id odio sit amet quam ultricies lobortis id congue lectus. Ut
    vulputate dui felis. Proin id cursus ante, a interdum leo. Cras eu mattis
    sapien, at malesuada lorem. Maecenas accumsan urna sit amet nisl pretium, id
    venenatis augue cursus. Nunc eu ante ornare, blandit lectus molestie,
    porttitor nisl. Praesent tincidunt vel lacus ut viverra. Nam malesuada nisl
    eget gravida iaculis. In malesuada dolor eu urna pulvinar, et hendrerit
    massa placerat.
  </p>
</div>
