---
import type { HTMLAttributes } from "astro/types";
import { getTranslations } from "@i18n/ui";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div {...props}>
  <h1 id="about" class="pb-2">{t.about.header}</h1>

  <p>{t.about.content}</p>
</div>
