---
import type { HTMLAttributes } from "astro/types";
import AwardElement from "./AwardElement.astro";
import { getTranslations } from "@src/i18n/ui";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<div {...props}>
  <h2 id="awards" class="pb-1">{t.awards.header}</h2>
  <AwardElement period="2021 - 2025" description={t.awards.pw.description} />
  <AwardElement period="2016 - 2020" description={t.awards.skc.description} />
</div>
