---
import type { HTMLAttributes } from "astro/types";
import AwardElement from "./AwardElement.astro";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;
---

<div {...props}>
  <h2 id="awards" class="pb-1">Awards</h2>
  <AwardElement
    period="2021 - 2025"
    description="Scholarships from the Rector of the Warsaw University of Technology for high academic achievements"
    class="pt-1"
  />
  <AwardElement
    period="2016 - 2020"
    description="Scholarships from the President of Skierniewice for high academic achievements"
    class="pt-1"
  />
</div>
