---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  period: string;
  description: string;
  link?: string;
  organization?: string;
}

const { period, description, link, organization, ...props } = Astro.props;
---

<div class="flex flex-col gap-2" {...props}>
  <div class="flex">
    <span class="flex-1 text-lg" style="font-weight: 600;">
      <a href={link} target="_blank">{description}</a>
    </span>
    <span>{period}</span>
  </div>
  {organization ? <div>{organization}</div> : null}
</div>
