---
import { getTranslations } from "@src/i18n/ui";

const lang = Astro.currentLocale;
const t = getTranslations(lang);
---

<!-- TODO: improve styling -->
<div>
  <div>{t.interests.movies}</div>
  <div>{t.interests.bicycle}</div>
  <div>{t.interests.rollerblades}</div>
  <div>{t.interests.snowboard}</div>
</div>
