---
import Icon from "../Icon.astro";
import Avatar from "./Avatar.astro";
---

<div class="flex">
  <div class="flex-1 space-y-1.5">
    <h1>Bartłomiej Krawczyk</h1>
    <p>Backend Engineer</p>
    <a href="https://maps.app.goo.gl/UhjS3b31uSSrucAj8" class="flex">
      <Icon gradient icon="location" size="22px" />
      <span class="ml-1">Warsaw, Poland</span>
    </a>
  </div>
  <span class="relative flex shrink-0 overflow-hidden rounded-xl size-50">
    <Avatar />
  </span>
</div>
