---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getTranslations, type LanguageKey } from "@i18n/ui";
import type { HTMLAttributes } from "astro/types";
import TagElement from "./TagElement.astro";
import { tags } from "@components/content/Tags";

const projects = await getCollection("projects").then((projects) =>
  projects.sort((a, b) => a.id.localeCompare(b.id)),
);

const lang = Astro.currentLocale as LanguageKey;

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const t = getTranslations(lang);
---

<div {...props}>
  <h2 id="projects" class="pb-1">{t.projects.header}</h2>
  <!-- https://docs.astro.build/en/guides/content-collections/#filtering-collection-queries -->
  <ul class="projects-ul">
    {
      Object.entries(projects).map(([, project]) => (
        <li class="pt-1 projects-li">
          <a href={getRelativeLocaleUrl(lang, "/projects/" + project.id)}>
            <span>
              <b>{project.data.title ?? project.id}</b>
            </span>
          </a>
          <div>{project.data.description}</div>
          <ul class="project-tags">
            {project.data.tags?.map((tag) => (
              <TagElement tag={tags[tag]} />
            ))}
          </ul>
        </li>
      ))
    }
  </ul>

  <!-- 
  May configure pagination of projects: 
  https://docs.astro.build/en/guides/routing/#pagination 
  -->
</div>

<style>
  .projects-ul {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  .projects-li {
    border: 1px solid var(--gray-900);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing) * 1.5);
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
  }

  /* TODO: consider using this class along with a button to reveal all tags */
  /* .project-tags li:nth-of-type(1n + 6) {
    display: none;
  } */
</style>
