---
import type { HTMLAttributes } from "astro/types";
import { tags } from "@components/content/Tags";

interface Props extends HTMLAttributes<"div"> {}
// const lang = Astro.currentLocale as LanguageKey;
const { ...props } = Astro.props;
---

<div {...props}>
  <h2 class="pb-1">Skills</h2>
  <ul>
    {
      Object.entries(tags).map(([, tag]) => (
        <li class={`skill ${tag.type}`}>
          <a href={tag.link} target="_blank">
            {tag.translation.en}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .skill {
    display: inline-block;
    border-color: var(--gray-900);
    border-style: var(--tw-border-style);
    border-width: 1px;
    initial-value: solid;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    margin-right: calc(var(--spacing) * 2);
    border-radius: var(--radius-lg);
  }
  .skill a:hover,
  .skill a:focus {
    color: var(--gray-50);
  }
  .company {
    display: none;
  }
  .language {
    background-color: rgb(from var(--primary-light) r g b / 50%);
  }
  .framework {
    background-color: rgb(from var(--secondary-light) r g b / 50%);
  }
  .technology {
    background-color: rgb(from var(--primary-regular) r g b / 50%);
  }
  .tool {
    background-color: rgb(from var(--secondary-regular) r g b / 50%);
  }
  .operating_system {
    background-color: rgb(from var(--primary-dark) r g b / 50%);
  }
  .operating_system a {
    color: var(--gray-950);
  }
  .operating_system a:hover,
  .operating_system a:focus {
    color: var(--primary-regular);
  }
  .cloud {
    background-color: rgb(from var(--secondary-dark) r g b / 50%);
    color: var(--gray-950);
  }
  .cloud a:hover,
  .cloud a:focus {
    color: var(--secondary-regular);
  }
  .library {
    background-color: rgb(from var(--primary-light) r g b / 50%);
  }
  .database {
    background-color: rgb(from var(--secondary-light) r g b / 50%);
  }
  .other {
    background-color: rgb(from var(--primary-regular) r g b / 50%);
  }
</style>
