---
import type { HTMLAttributes } from "astro/types";
import { tags } from "@components/content/Tags";
import TagElement from "@components/content/TagElement.astro";

interface Props extends HTMLAttributes<"div"> {}
// const lang = Astro.currentLocale as LanguageKey;
const { ...props } = Astro.props;
---

<div {...props}>
  <h2 id="skills" class="pb-1">Skills</h2>
  <ul>
    {Object.entries(tags).map(([, tag]) => <TagElement tag={tag} />)}
  </ul>
</div>

<style>
  .company {
    display: none;
  }
</style>
