---
import type { HTMLAttributes } from "astro/types";
import type { Tag } from "./Tags";

interface Props extends HTMLAttributes<"li"> {
  tag: Tag;
}

const { tag, ...props } = Astro.props;
---

<li class={`skill ${tag.type} ${props.class}`} {...props}>
  <a href={tag.link} target="_blank">
    {tag.translation.en}
  </a>
</li>

<style>
  .skill {
    display: inline-block;
    border-color: var(--gray-900);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-radius: var(--radius-lg);
    initial-value: solid;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    margin-right: calc(var(--spacing) * 1);
    font-size: var(--text-sm);
  }
  .skill a:hover,
  .skill a:focus {
    color: var(--gray-50);
  }
  .company {
    background-color: rgb(from var(--secondary-dark) r g b / 25%);
  }
  .language {
    background-color: rgb(from var(--primary-light) r g b / 25%);
  }
  .framework {
    background-color: rgb(from var(--secondary-light) r g b / 25%);
  }
  .technology {
    background-color: rgb(from var(--primary-regular) r g b / 25%);
  }
  .tool {
    background-color: rgb(from var(--secondary-regular) r g b / 25%);
  }
  .operating_system {
    background-color: rgb(from var(--primary-dark) r g b / 25%);
  }
  .operating_system a {
    color: var(--gray-950);
  }
  .operating_system a:hover,
  .operating_system a:focus {
    color: var(--primary-regular);
  }
  .cloud {
    background-color: rgb(from var(--secondary-dark) r g b / 25%);
    color: var(--gray-950);
  }
  .cloud a:hover,
  .cloud a:focus {
    color: var(--secondary-regular);
  }
  .library {
    background-color: rgb(from var(--primary-light) r g b / 25%);
  }
  .database {
    background-color: rgb(from var(--secondary-light) r g b / 25%);
  }
  .other {
    background-color: rgb(from var(--primary-regular) r g b / 25%);
  }
</style>
