---
import type { HTMLAttributes } from "astro/types";
import type { Tag } from "./Tags";

interface Props extends HTMLAttributes<"li"> {
  tag: Tag;
}

const { tag, ...props } = Astro.props;
---

<li class={`skill ${tag.type} ${props.class ?? ""}`} {...props}>
  {
    tag.link ? (
      <a href={tag.link} target="_blank">
        {tag.translation.en}
      </a>
    ) : (
      <span>{tag.translation.en}</span>
    )
  }
</li>

<style>
  .skill {
    display: inline-block;
    border-color: var(--gray-900);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-radius: var(--radius-lg);
    initial-value: solid;
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    font-size: var(--text-sm);
  }
  .skill a {
    color: var(--gray-300);
  }
  .skill a:hover,
  .skill a:focus {
    color: var(--primary-dark);
  }
  .skill.company a:hover,
  .skill.company a:focus,
  .skill.framework a:hover,
  .skill.framework a:focus,
  .skill.tool a:hover,
  .skill.tool a:focus,
  .skill.cloud a:hover,
  .skill.cloud a:focus,
  .skill.database a:hover,
  .skill.database,
  .skill.linguistics a:hover,
  .skill.linguistics a:focus a:focus {
    color: var(--secondary-dark);
  }
  .company {
    background-color: rgb(from var(--secondary-dark) r g b / 25%);
  }
  .language {
    background-color: rgb(from var(--primary-light) r g b / 25%);
  }
  .framework {
    background-color: rgb(from var(--secondary-light) r g b / 25%);
  }
  .technology {
    background-color: rgb(from var(--primary-regular) r g b / 25%);
  }
  .tool {
    background-color: rgb(from var(--secondary-regular) r g b / 25%);
  }
  .operating_system {
    background-color: rgb(from var(--primary-dark) r g b / 25%);
  }
  .cloud {
    background-color: rgb(from var(--secondary-dark) r g b / 25%);
  }
  .library {
    background-color: rgb(from var(--primary-light) r g b / 25%);
  }
  .database {
    background-color: rgb(from var(--secondary-light) r g b / 25%);
  }
  .other {
    background-color: rgb(from var(--primary-regular) r g b / 25%);
  }
  .linguistics {
    background-color: rgb(from var(--secondary-regular) r g b / 25%);
  }
</style>
