---
import type { HTMLAttributes } from "astro/types";
import WorkElement from "./WorkElement.astro";
import { getTranslations, type LanguageKey } from "@src/i18n/ui";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const lang = Astro.currentLocale as LanguageKey;
const t = getTranslations(lang);
---

<div {...props}>
  <h2 class="pb-1">{t.work.header}</h2>
  <WorkElement
    class="py-1"
    company="Sages"
    period={t.work.sagesMid.period}
    link="https://www.sages.pl/"
    title="Software Engineer"
    description=""
    workTags={[
      "java",
      "kotlin",
      "sql",
      "scala",
      "groovy",
      "bash",
      "css",
      "html",
      "javascript",
      "spring",
      "helidon",
      "micronaut",
      "ktor",
      "hibernate",
      "jakarta_ee",
      "jax_rs",
      "jakarta_cdi",
      "jboss_seam",
      "react_js",
      "ci_cd",
      "iac",
      "agile",
      "scrum",
      "kanban",
      "wcag",
      "rest_api",
      "grpc",
      "cqrs",
      "s3",
      "docker",
      "kubernetes",
      "puppet",
      "bitbucket",
      "jira",
      "jenkins",
      "bitbucket_pipelines",
      "gradle",
      "linux",
      "apache_spark",
      "apache_flink",
      "apache_solr",
      "apache_rabbit_mq",
      "apache_kafka",
      "apache_zookeeper",
      "cas",
      "hazelcast",
      "wildfly",
      "nginx",
      "apache",
      "certbot",
      "spock",
      "mongo_db",
      "arango_db",
      "postgres",
      "oracle",
      "mysql",
    ]}
  />
  <WorkElement
    class="py-1"
    company="Sages"
    period={t.work.sagesJunior.period}
    link="https://www.sages.pl/"
    title="Junior Software Engineer"
    description=""
    workTags={[
      "java",
      "sql",
      "scala",
      "groovy",
      "bash",
      "css",
      "html",
      "javascript",
      "spring",
      "helidon",
      "micronaut",
      "hibernate",
      "jakarta_ee",
      "jax_rs",
      "jakarta_cdi",
      "jboss_seam",
      "react_js",
      "ci_cd",
      "iac",
      "agile",
      "scrum",
      "kanban",
      "wcag",
      "rest_api",
      "cqrs",
      "s3",
      "docker",
      "puppet",
      "bitbucket",
      "jira",
      "jenkins",
      "bitbucket_pipelines",
      "gradle",
      "linux",
      "apache_spark",
      "apache_solr",
      "apache_zookeeper",
      "cas",
      "hazelcast",
      "wildfly",
      "nginx",
      "apache",
      "certbot",
      "spock",
      "mongo_db",
      "arango_db",
      "postgres",
      "oracle",
      "mysql",
    ]}
  />
  <WorkElement
    class="py-1"
    company="Sages"
    period={t.work.sagesTrain.period}
    link="https://www.sages.pl/"
    title="Trainee Software Engineer"
    description=""
    workTags={[
      "java",
      "agile",
      "kanban",
      "docker",
      "jira",
      "bitbucket",
      "gradle",
      "linux",
      "wildfly",
      "apache_solr",
      "apache_zookeeper",
      "cas",
      "spock",
      "mongo_db",
    ]}
  />
</div>
