---
import type { HTMLAttributes } from "astro/types";
import WorkElement from "./WorkElement.astro";
import { getTranslations, type LanguageKey } from "@src/i18n/ui";

interface Props extends HTMLAttributes<"div"> {}

const { ...props } = Astro.props;

const lang = Astro.currentLocale as LanguageKey;
const t = getTranslations(lang);
---

<div {...props}>
  <h2 class="pb-1">{t.work.header}</h2>
  <WorkElement
    class="py-1"
    company="Sages"
    period={t.work.sagesMid.period}
    link="https://www.sages.pl/"
    title="Software Engineer"
    description=""
  />
  <WorkElement
    class="py-1"
    company="Sages"
    period={t.work.sagesJunior.period}
    link="https://www.sages.pl/"
    title="Junior Software Engineer"
    description=""
  />
  <WorkElement
    class="py-1"
    company="Sages"
    period={t.work.sagesTrain.period}
    link="https://www.sages.pl/"
    title="Trainee Software Engineer"
    description=""
  />
</div>
