---
import Icon from "@components/Icon.astro";
import CommandLineHint from "../popups/CommandLineHint.astro";

const currentYear = new Date().getFullYear();

type Props = Record<string, never>;
---

<footer class="no-print">
  <div>
    <CommandLineHint />
  </div>
  <div class="footer">
    <p>&copy; 2024-{currentYear} Bartłomiej Krawczyk</p>
    <p class="socials">
      <a
        href="https://github.com/bartlomiejkrawczyk"
        target="_blank"
        class="link"
      >
        <Icon icon="github-logo" gradient={true} size="20px" /><span
          class="link-text">GitHub</span
        >
      </a>
      <a
        href="https://discordapp.com/users/384450810547011584"
        target="_blank"
        class="link"
      >
        <Icon icon="discord-logo" gradient={true} size="20px" /><span
          class="link-text">Discord</span
        >
      </a>
      <a
        href="https://www.instagram.com/bartlomiejkrawczyk_"
        target="_blank"
        class="link"
      >
        <Icon icon="instagram-logo" gradient={true} size="20px" /><span
          class="link-text">Instagram</span
        >
      </a>
    </p>
  </div>
</footer>

<style>
  .link {
    display: flex;
  }
  .link-text {
    padding-left: var(--spacing);
  }

  .socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (max-width: 50em) {
    .socials {
      justify-content: center;
    }
  }
</style>
