---
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "./LanguagePicker.astro";
import { type LanguageKey } from "@i18n/ui";
import ThemePicker from "./ThemePicker.astro";
import CommandButton from "../popups/CommandButton.astro";
import Icon from "../Icon.astro";

const lang = Astro.currentLocale as LanguageKey;

type Props = Record<string, never>;
---

<header class="no-print">
  <div class="header-wrapper">
    <a
      href={getRelativeLocaleUrl(lang, "/")}
      class="pr-5 pl-4"
      aria-label="Go to Home Page"
    >
      <Icon icon="home" gradient={true} size="18" />
    </a>
    <LanguagePicker class="pr-5" />
    <CommandButton class="pr-5" />
    <ThemePicker class="pr-5" />
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .header-wrapper {
    width: min(100%, 1200px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }
</style>
