---
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "./LanguagePicker.astro";
import { type LanguageKey } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import ThemePicker from "./ThemePicker.astro";

const lang = Astro.currentLocale as LanguageKey;
const t = useTranslations(lang);

type Props = Record<string, never>;
---

<header>
  <ul>
    <li>
      <a href={getRelativeLocaleUrl(lang, "/")}>
        {t("nav.home")}
      </a>
    </li>
    <li>
      <a href={getRelativeLocaleUrl(lang, "about")}>
        {t("nav.about")}
      </a>
    </li>
  </ul>
  <LanguagePicker />
  <ThemePicker />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
