---
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "./LanguagePicker.astro";
import { type LanguageKey } from "@i18n/ui";
import ThemePicker from "./ThemePicker.astro";
import CommandButton from "../popups/CommandButton.astro";
import Icon from "../Icon.astro";

const lang = Astro.currentLocale as LanguageKey;

type Props = Record<string, never>;
---

<header class="no-print">
  <ul>
    <li>
      <a href={getRelativeLocaleUrl(lang, "/")}>
        <Icon icon="home" gradient={true} size="18" />
      </a>
    </li>
  </ul>
  <LanguagePicker />
  <CommandButton />
  <ThemePicker />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
