---
import { languages } from "@i18n/ui";
import Icon from "../Icon.astro";

type Props = Record<string, never>;
---

<div class="lang-wrapper">
  <button class="lang-trigger" id="lang-trigger" aria-label="Select language">
    <Icon icon="translate" gradient={true} size="24" />
  </button>

  <div id="lang-menu" class="lang-menu hidden">
    {
      Object.entries(languages).map(([lang, label]) => (
        <button data-lang={lang}>
          {label} - {lang}
        </button>
      ))
    }
  </div>
</div>

<script>
  import { type LanguageKey, languages } from "@src/i18n/ui";

  const trigger = document.querySelector("#lang-trigger");
  const menu = document.querySelector("#lang-menu");

  trigger?.addEventListener("click", () => {
    menu?.classList.toggle("hidden");
  });

  document.addEventListener("click", (e) => {
    if (!menu || !trigger || !e || !e.target || !(e.target instanceof Node)) {
      return;
    }

    if (!menu.contains(e.target) && !trigger.contains(e.target)) {
      menu.classList.add("hidden");
    }
  });

  function setLanguage(targetLang: LanguageKey) {
    const supportedLangs = Object.keys(languages);
    const defaultLang = "en";

    if (!supportedLangs.includes(targetLang)) return;

    const optionalCurrentLang = localStorage.getItem("preferredLang");

    const path = window.location.pathname;
    const pathParts = path.split("/").filter(Boolean);

    let currentLang = defaultLang;

    if (optionalCurrentLang === null) {
      const firstPath = pathParts[0];
      currentLang =
        firstPath && supportedLangs.includes(firstPath)
          ? firstPath
          : defaultLang;
    } else {
      currentLang = optionalCurrentLang;
    }

    localStorage.setItem("preferredLang", targetLang);

    function buildPath(targetLang: LanguageKey) {
      const parts = pathParts.slice();

      if (currentLang === defaultLang && targetLang !== defaultLang) {
        parts.unshift(targetLang);
      } else if (currentLang !== defaultLang && targetLang === defaultLang) {
        parts.shift();
      } else if (currentLang !== targetLang) {
        parts[0] = targetLang;
      }

      const joinedParts = parts.length == 0 ? "" : parts.join("/");

      return "/" + joinedParts + window.location.search + window.location.hash;
    }

    if (targetLang !== currentLang) {
      window.location.href = buildPath(targetLang);
    }
  }

  document.querySelectorAll("#lang-menu button").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      if (!e.target || !menu) return;
      const target = e.target as HTMLElement;
      const lang = target.dataset.lang;
      if (!lang) return;
      if (lang) {
        setLanguage(lang as LanguageKey);
        menu.classList.add("hidden");
      }
    });
  });
</script>

<style>
  .lang-wrapper {
    position: relative;
    display: inline-block;
  }

  .lang-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    background: var(--background);
    border-radius: 8px;
    padding: 6px 0;
    margin-top: 6px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  }

  .lang-menu.hidden {
    display: none;
  }

  .lang-menu button {
    text-align: left;
    padding: 8px 14px;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
  }

  .lang-menu button:hover {
    background: var(--gray-950);
  }

  .lang-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
</style>
