---
import Icon from "../Icon.astro";
---

<button class="theme-button">
  <Icon icon="color-palette-3" size="32px" />
</button>

<script>
  const button = document.querySelector(".theme-button");
  button?.addEventListener("click", () => {
    const dialog = document.getElementById("theme-dialog") as HTMLDialogElement;

    if (dialog) {
      if (typeof dialog.showModal === "function") {
        dialog.showModal();
      } else {
        alert("The <dialog> API is not supported by this browser");
      }
    }
  });
</script>
