---
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a href="./about">About</a>
  <a href="./projects/test">Test - Markdown</a>
  <Projects />
  <a href="./500">500</a>
  <a href="./404">404</a>
  Current locale: {Astro.currentLocale}
  Preferred locale: {Astro.preferredLocale}
  Preferred locale list: {Astro.preferredLocaleList}
  <!-- <Welcome /> -->
</Layout>

<!-- 
May configure pagination of projects: 
https://docs.astro.build/en/guides/routing/#pagination 
-->
