---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <a href="/about">About</a>
  <a href="/projects/test">Test - Markdown</a>
  <a href="/500">500</a>
  <a href="/404">404</a>
  <Welcome />
</Layout>
