---
import Projects from "@components/content/Projects.astro";
import Layout from "@layouts/Layout.astro";
import Avatar from "@components/content/Avatar.astro";
---

<Layout>
  <Avatar />
  <a href="./about">About</a>
  <Projects />
  <a href="./500">500</a>
  <a href="./404">404</a>
  <a href="/FO-23Z">Radar Simulator</a>
  Current locale: {Astro.currentLocale}
  Preferred locale: {Astro.preferredLocale}
  Preferred locale list: {Astro.preferredLocaleList}
</Layout>
