---
import Icon from "./Icon.astro";

const currentYear = new Date().getFullYear();

type Props = Record<string, never>;
---

<footer>
  <p>&copy; 2024-{currentYear} Bartłomiej Krawczyk</p>
  <p class="socials">
    <a href="https://github.com/bartlomiejkrawczyk">
      <Icon icon="github-logo" gradient={true} size="20px" />GitHub
    </a>
    <a href="https://discordapp.com/users/384450810547011584">
      <Icon icon="discord-logo" gradient={true} size="20px" />Discord
    </a>
    <a href="https://www.instagram.com/bartlomiejkrawczyk_">
      <Icon icon="instagram-logo" gradient={true} size="20px" />Instagram
    </a>
  </p>
</footer>

<style>
  .socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (max-width: 50em) {
    .socials {
      justify-content: center;
    }
  }
</style>
