---
import { languages } from "../i18n/ui";

type Props = Record<string, never>;
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        {label} - {lang}
      </li>
    ))
  }
</ul>
