---
import { getCollection, render } from "astro:content";
import Icon from "@components/Icon.astro";
import Prose from "@components/markdown/Prose.astro";
import Layout from "@layouts/Layout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import type { ExtendedProjectEntry } from "@src/content.config";

dayjs.extend(utc);

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects
    .sort((a, b) => a.id.localeCompare(b.id))
    .map((project) => ({
      params: { project: project.id },
      props: { project },
    }));
}

interface Props {
  project: ExtendedProjectEntry;
}

const { project } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(project);

const { data } = project;

const lastModified = dayjs(remarkPluginFrontmatter.lastModified).format(
  "YYYY-MM-DD HH:mm Z[Z]",
);
---

<Layout title={data.title}>
  <Fragment slot="head">
    <script
      async
      is:inline
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    <script is:inline>
      window.MathJax = {
        tex: {
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"],
          ],
        },
        svg: {
          fontCache: "global",
        },
      };
    </script>
  </Fragment>

  <Icon icon="discord-logo" gradient={true} size="100px" />
  <p>{remarkPluginFrontmatter.minutesRead}</p>
  <p>Last Modified: {lastModified}</p>

  <Prose>
    <Content />
  </Prose>
</Layout>

<style></style>
